name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Run All
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: harvey
          auto-activate-base: false
          auto-update-conda: true
          environment-file: environment.yml
          python-version: 3
      - run: |
          set -eu
          make -C src cleaner
          make -C src harvey
          ./src/harvey.py
          diff src/harvey.kgo harvey.out
          make -C src test
          mkdir -p src/Doc
      - uses: mattnotmitt/doxygen-action@v1.9.5
        with:
            working-directory: 'src/Doc/'
            doxyfile-path: '../../doc/Doxyfile'
            enable-latex: true
