name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.23"
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - name: Install gfortran 14.2
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran-14=14.2*
          echo "FC=gfortran-14" >> "$GITHUB_ENV"
          echo "F77=gfortran-14" >> "$GITHUB_ENV"
          echo "F90=gfortran-14" >> "$GITHUB_ENV"
      - run: uv sync
      - run: |
          set -eu
          make cleaner
          uv run make harvey
          export PYTHONPATH="${PWD}/build"
          uv run ./src/harvey.py
          diff src/harvey.kgo harvey.out
          uv run make test
  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v6
      - uses: mattnotmitt/doxygen-action@v1.12.0
        with:
            working-directory: 'doc'
            doxyfile-path: 'Doxyfile'
            enable-latex: true
