name: Docs

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v6
      - uses: mattnotmitt/doxygen-action@v1.12.0
        with:
          working-directory: "doc"
          doxyfile-path: "Doxyfile"
          enable-latex: true
